{% extends 'base.html' %}
{% block body %}
<h1 style="text-align: center;">Add Movies</h1>
<form method="POST" enctype="multipart/form-data" style="text-align: center;" > <!--enctype used for adding image file-->
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter movie name"><br>
    <input type="text" name="desc" placeholder="Enter movie description"><br>
    <input type="text" name="year" placeholder="Enter movie year"><br>
    <input type="file" name="img"><br>
    <input type="submit">
</form>
{% endblock %}  