{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="300" height="250"><br>
        </div>
        <div class="col-md-6">
            <h2>{{movie.name}}</h2>
            <h4>{{movie.desc}}</h4>
            </h6>{{movie.year}}</h6>
            <a class="btn btn-success" href="{% url 'movieapp:update' movie.id %}">Update</a><!--update button-->
            <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a><!--delete button-->
        </div>

     </div>
</div>

{% endblock %}
